.SimpleSlider{
    margin-top: 5px;
}

.clsImage{
    height: 300px;
    width: 100%;
}
.clsImg{
    margin-left: 90px;
    height: 200px;
    width: 200px;
    text-align: center;
}
.text{
    
    font-family: 'Chewy', cursive;
    color: tomato;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.txt{
    
    font-family: 'Chewy', cursive;
    color: tomato;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.SimpleSlide{
    margin-top: 40px;

}


